WebApplication/NodeRed/email.json
[{"id":"30eaa369.63f03c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5c1f7d90.b7eb34","type":"azureiothubreceiver","z":"30eaa369.63f03c","name":"Azure IoT Hub Receiver","x":140,"y":60,"wires":[["7638ffc6.e8a9c","33238f98.531c3"]]},{"id":"33238f98.531c3","type":"debug","z":"30eaa369.63f03c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":60,"wires":[]},{"id":"a6344b92.6ae7b8","type":"sendgrid","z":"30eaa369.63f03c","from":"","to":"","name":"Send email","content":"text","x":962,"y":288,"wires":[]},{"id":"7638ffc6.e8a9c","type":"switch","z":"30eaa369.63f03c","name":"Condition to send email","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":291,"wires":[["63a87cb1.ac3b14"]]},{"id":"4d176f3a.ea4f7","type":"template","z":"30eaa369.63f03c","name":"Email template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert! The temperature from {{ deviceId }} has exceeded 30°C! Current temperature is {{ payload.temperature }}.","output":"str","x":614,"y":290,"wires":[["57a6faf2.dc5574"]]},{"id":"63a87cb1.ac3b14","type":"delay","z":"30eaa369.63f03c","name":"Limit 1 email per 5min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":416,"y":291,"wires":[["4d176f3a.ea4f7"]]},{"id":"57a6faf2.dc5574","type":"change","z":"30eaa369.63f03c","name":"Email Settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Temperature Alert","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":289,"wires":[["a6344b92.6ae7b8"]]}]